{{- $opts := dict
  "minify" true
  "targetPath" "js/main.js"
}}

{{- with resources.Get "js/main.js" | js.Build $opts | fingerprint }}
  <script
    src="{{ .RelPermalink }}"
    integrity="{{ .Data.Integrity }}"
    crossorigin="anonymous"></script>
{{- end }}


<script>
  function scrollToTopOfElement(className) {
    const el = document.querySelector(`.${className}`);
    if (el) {
      el.scrollTo({ top: 0, behavior: 'smooth' });
    }
  }
</script>

<script src="/pagefind/pagefind-ui.js"></script>
