body {
  font-family: map-get($fonts, base);
  font-size: map-get($font-sizes, base);
  line-height: $base-line-height;
}

@each $level, $size in $headings {
  #{$level} {
    font-family: map-get($fonts, heading);
    font-size: map-get($font-sizes, $size);
    font-weight: map-get($font-weights, bold);
    line-height: 1.2;
  }
}
