// Apply font styles
body {
  color: var(--color-text-default);
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  line-height: var(--base-line-height);
}

@each $level, $size in $headings {
  #{$level} {
    color: var(--color-ink);
    font-family: var(--font-heading);
    font-size: var(--font-size-#{$size});
    font-weight: var(--font-weight-bold);
    line-height: var(--heading-line-height);
  }
}
