<section class="big-tile">
  {{- $count := .Site.Params.bigTiles.count | default 3 -}}
  {{- $truncate := .Site.Params.bigTiles.truncate | default 150 -}}
  {{- $pages := site.RegularPages -}}

  {{- range first $count $pages }}
    <article
      class="big-tile__item"
      style="background-image: url('{{ .Params.image }}')">
      <a href="{{ .RelPermalink }}">
        {{- if .Params.categories }}
          <span class="big-tile__category"
            >{{ index .Params.categories 0 }}</span
          >
        {{- end }}
        <h2>{{ .Title }}</h2>
        {{- $summary := .Summary | default .Content -}}
        <p>
          {{ if gt (len $summary) $truncate }}
            {{ $summary | plainify | truncate $truncate }}
          {{ else }}
            {{ $summary | plainify }}
          {{ end }}
        </p>
      </a>
    </article>
  {{- end }}
</section>
