{{- if site.Params.breadcrumbs.enabled | default true -}}
  {{- $page := . -}}
  {{- $homeURL := "/" -}}
  {{- $separator := site.Params.breadcrumbs.separator | default "/" -}}
  <nav class="breadcrumbs">
    <ol
      class="breadcrumbs__list"
      style="--breadcrumbs-separator: '{{ $separator }}'">
      <li class="breadcrumbs__item">
        <a href="{{ $homeURL }}" class="breadcrumbs__link">Home</a>
      </li>
      {{- $seen := dict -}}

      {{- if .Ancestors -}}
        {{- range .Ancestors.Reverse -}}
          {{- if and (ne .Title "Home") (ne .Title "") -}}
            {{- $key := .Title | lower -}}
            {{- if and $key (not (isset $seen $key)) -}}
              {{- $ancestorURL := .Permalink -}}
              {{- $ancestorSection := .Section | lower -}}
              {{- range $page.GetTerms "categories" -}}
                {{- if eq (.LinkTitle | urlize) $ancestorSection -}}
                  {{- $ancestorURL = .Permalink -}}
                {{- end -}}
              {{- end -}}
              <li class="breadcrumbs__item">
                <a href="{{ $ancestorURL }}" class="breadcrumbs__link"
                  >{{ .Title }}</a
                >
              </li>
              {{- $seen = merge $seen (dict $key true) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}

      {{- if site.Params.breadcrumbs.show_taxonomies | default true -}}
        {{- $blacklist := site.Params.breadcrumbs.taxonomy_blacklist | default slice -}}
        {{- $sectionKey := $.Section | lower -}}
        {{- range $taxonomyName, $taxonomy := site.Taxonomies -}}
          {{- $terms := $.GetTerms $taxonomyName -}}
          {{- range $terms -}}
            {{- $termKey := .LinkTitle | lower -}}
            {{- $isBlacklisted := false -}}
            {{- range $blacklist -}}
              {{- if eq (. | lower) $termKey -}}
                {{- $isBlacklisted = true -}}
              {{- end -}}
            {{- end -}}
            {{- if and (not $isBlacklisted) (ne $termKey $sectionKey) -}}
              {{- $key := .LinkTitle | lower -}}
              {{- if and $key (not (isset $seen $key)) -}}
                <li class="breadcrumbs__item">
                  <a href="{{ .Permalink }}" class="breadcrumbs__link"
                    >{{ .LinkTitle }}</a
                  >
                </li>
                {{- $seen = merge $seen (dict $key true) -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}

      {{- if and .Title (ne .Title "") -}}
        {{- $key := .Title | lower -}}
        {{- if and $key (not (isset $seen $key)) -}}
          <li class="breadcrumbs__item breadcrumbs__item--current">
            <span class="breadcrumbs__text">{{ .Title }}</span>
          </li>
          {{- $seen = merge $seen (dict $key true) -}}
        {{- end -}}
      {{- end -}}
    </ol>
  </nav>
{{- end -}}
