<section class="small-tile">
  {{- $type := .Site.Params.smallTiles.type | default "categories" -}}
  {{- if eq $type "tags" -}}
    {{- range $name, $pages := site.Taxonomies.tags }}
      <article class="small-tile__item">
        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}"
          >{{ $name }}</a
        >
      </article>
    {{- end -}}
  {{- else -}}
    {{- range $name, $pages := site.Taxonomies.categories }}
      <article class="small-tile__item">
        <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}"
          >{{ $name }}</a
        >
      </article>
    {{- end -}}
  {{- end }}
</section>
