<section class="small-tile">
  {{- $type := .Site.Params.smallTiles.type | default "categories" -}}
  {{- $images := .Site.Params.smallTiles.images -}}

  {{- if eq $type "tags" -}}
    {{- range $name, $pages := site.Taxonomies.tags }}
      {{- $img := index $images $name | default "" -}}
      <article
        class="small-tile__item"
        {{ if $img }}style="background-image: url('{{ $img }}');"{{ end }}>
        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}"
          >{{ $name }}</a
        >
      </article>
    {{- end -}}
  {{- else -}}
    {{- range $name, $pages := site.Taxonomies.categories }}
      {{- $img := index $images $name | default "" -}}
      <article
        class="small-tile__item"
        {{ if $img }}style="background-image: url('{{ $img }}');"{{ end }}>
        <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}"
          >{{ $name }}</a
        >
      </article>
    {{- end -}}
  {{- end }}
</section>
