<section class="small-tile">
  {{- $type := .Site.Params.smallTiles.type | default "categories" -}}
  {{- $images := .Site.Params.smallTiles.images -}}

  {{- if eq $type "tags" -}}
    {{- range $name, $pages := site.Taxonomies.tags }}
      {{- $img := index $images $name | default "" -}}
      <a
        href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}"
        class="small-tile__item"
        {{ if $img }}style="background-image: url('{{ $img }}');"{{ end }}>
        <h5 class="small-tile__text">{{ $name }}</h5>
      </a>
    {{- end -}}
  {{- else -}}
    {{- range $name, $pages := site.Taxonomies.categories }}
      {{- $img := index $images $name | default "" -}}
      <a
        href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}"
        class="small-tile__item"
        {{ if $img }}style="background-image: url('{{ $img }}');"{{ end }}>
        <h5 class="small-tile__text">{{ $name }}</h5>
      </a>
    {{- end -}}
  {{- end }}
</section>
