// ===========================
// Color palettes
// ===========================

$colors-light: (
  primary: #034ad8,
  secondary: #a6e3ff,
  accent: #a6e3ff,
  ink: #151515,
  text: (
    default: #333,
    muted: #737373,
    inverted: #fff,
  ),
  background: (
    default: #fff,
    light: #fffaf5,
    overlay: rgba(0, 0, 0, 0.2),
  ),
  interactive: (
    hover: rgba(0, 0, 0, 0.2),
    active: rgb(230, 230, 230),
    focus: #034ad8,
  ),
  border: (
    default: #737373,
    navbar: #000,
  ),
);

$colors-dark: (
  primary: #a6e3ff,
  secondary: #034ad8,
  text: (
    default: #eee,
    muted: #aaa,
    inverted: #000,
  ),
  background: (
    default: #222,
    light: #333,
    overlay: rgba(255, 255, 255, 0.2),
  ),
  interactive: (
    hover: rgba(255, 255, 255, 0.1),
    active: rgba(255, 255, 255, 0.2),
    focus: #a6e3ff,
  ),
  border: (
    default: #555,
    navbar: #fff,
  ),
);

/// Get a nested color value from the color map
/// @param {String} $mode - The color mode (e.g., 'light', 'dark') to select the color palette.
/// @param {ArgList} $keys... - A variable list of keys used to access nested color values within the palette.
/// @return {Color} The resolved color value from the palette based on the mode and keys provided.
@function color($mode, $keys...) {
  $map: map-get($colors, $mode);
  @each $key in $keys {
    @if type-of($map) == 'map' and map-has-key($map, $key) {
      $map: map-get($map, $key);
    } @else {
      @warn "Color path '#{$mode} > #{$keys}' not found!";
      @return null;
    }
  }
  @return $map;
}
