// ===========================
// Color palettes
// ===========================

$colors-light: (
  primary: #034ad8,
  secondary: #a6e3ff,
  text: (
    default: #333,
    muted: #737373,
    inverted: #fff,
  ),
  background: (
    default: #fff,
    light: #ededed,
    overlay: rgba(0, 0, 0, 0.2),
  ),
  interactive: (
    hover: rgba(0, 0, 0, 0.2),
    active: rgb(230, 230, 230),
    focus: #034ad8,
  ),
  border: (
    default: #737373,
    navbar: #000,
  ),
);

$colors-dark: (
  primary: #a6e3ff,
  secondary: #034ad8,
  text: (
    default: #eee,
    muted: #aaa,
    inverted: #000,
  ),
  background: (
    default: #222,
    light: #333,
    overlay: rgba(255, 255, 255, 0.2),
  ),
  interactive: (
    hover: rgba(255, 255, 255, 0.1),
    active: rgba(255, 255, 255, 0.2),
    focus: #a6e3ff,
  ),
  border: (
    default: #555,
    navbar: #fff,
  ),
);
