// ===========================
// Fonts
// ===========================

$base-font-size: 18px !default;
$base-line-height: 1.6 !default;

$font-weights: (
  light: 300,
  normal: 400,
  bold: 700,
) !default;

$fonts: (
  base: (
    'system-ui',
    '-apple-system',
    'sans-serif',
  ),
  heading: (
    'Arial',
    'Helvetica',
    'sans-serif',
  ),
  brand: (
    'Georgia',
    'Times New Roman',
    'serif',
  ),
) !default;

$font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1.175rem,
  lg: 1.25rem,
  xl: 1.5rem,
  2xl: 2rem,
  3xl: clamp(20px, 3vw, 28px),
  4xl: clamp(60px, 14vw, 75px),
) !default;

$headings: (
  h1: 3xl,
  h2: 2xl,
  h3: xl,
  h4: lg,
  h5: base,
  h6: sm,
) !default;

:root {
  --heading-line-height: 1.2;
  --heading-weight: var(--font-weights-bold);
}
