@import 'variables';

.home-header {
  position: relative;
  text-align: center;
  width: 100%;

  &__subtitle {
    font-family: $home-header-subtitle-font-family;
    font-size: $home-header-subtitle-font-size;
    font-weight: $home-header-subtitle-font-weight;
    letter-spacing: $home-header-subtitle-letter-spacing;
    margin: 0 0 $home-header-circle-margin 0;
    word-spacing: $home-header-subtitle-word-spacing;
  }

  &__title {
    font-family: $home-header-title-font-family;
    font-size: $home-header-title-font-size;
    font-weight: $home-header-title-font-weight;
    letter-spacing: $home-header-title-letter-spacing;
    margin: $home-header-circle-margin 0 0 0;
    overflow-wrap: $home-header-title-overflow-wrap;
    white-space: $home-header-title-white-space;
    word-break: $home-header-title-word-break;
    word-spacing: $home-header-title-word-spacing;
  }

  &__circle {
    background-color: $home-header-circle-bg;
    background-image: $home-header-circle-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    content: '';
    height: $home-header-circle-size;
    inset: 0;
    left: 50%;
    opacity: $home-header-circle-opacity;
    position: absolute;
    transform: translate(-50%, 0);
    width: $home-header-circle-size;
    z-index: -1;
  }
}

.home__about-us {
  border-radius: 4px;

  p {
    margin: 0.5rem 0;
  }
}
