@import 'variables';

.layout {
  display: flex;
  flex-direction: column;

  @include for-screen(tablet) {
    flex-direction: row;
  }

  &__navbar {
    background-color: $layout-navbar-bg;
    border-right: 1px solid $layout-navbar-border;
    border-top: 1px solid $layout-navbar-border;
    box-shadow: $layout-navbar-shadow;
    overflow-y: auto;
    position: fixed;
    z-index: $layout-navbar-z;

    @include for-screen(mobile) {
      bottom: 0;
      width: 100%;
    }

    @include for-screen(tablet) {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: $layout-navbar-padding;
    }
  }

  &__dummy-navbar {
    background-color: $layout-dummy-navbar-bg;
    display: none;
    position: static;

    @include for-screen(tablet) {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: $layout-navbar-padding;
    }
  }

  &__main {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    margin-top: $layout-main-content-top-margin;
    padding: $layout-main-content-padding;
  }

  &__main-header-background {
    background-image: $layout-header-bg-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $layout-header-bg-height;
    opacity: $layout-header-bg-opacity;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: $layout-header-bg-z;
  }

  &__main-whole-background {
    background-image: $layout-body-bg-image;
    background-repeat: repeat;
    background-size: $layout-body-bg-size;
    height: 100%;
    opacity: $layout-body-bg-opacity;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: $layout-body-bg-z;
  }
}
