.layout {
  display: flex;
  flex-direction: column;

  @include for-screen(tablet) {
    flex-direction: row;
  }

  &__navbar {
    background-color: rgb(255, 212, 212);
    position: fixed;

    @include for-screen(mobile) {
      bottom: 0;
      width: 100%;
    }

    @include for-screen(tablet) {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 36px 8px 8px 8px;
    }
  }

  &__dummy-navbar {
    background-color: rgb(255, 212, 212);
    display: none;
    position: static;

    @include for-screen(tablet) {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 36px 8px 8px 8px;
    }
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }
}
