.layout {
  display: flex;
  flex-direction: column;

  @include for-screen(tablet) {
    flex-direction: row;
  }

  &__navbar {
    background-color: #ededed;
    border-right: 1px solid rgb(131, 131, 131);
    border-top: 1px solid rgb(131, 131, 131);
    box-shadow: rgba(163, 163, 163, 0.1);
    position: fixed;
    z-index: 5;

    @include for-screen(mobile) {
      bottom: 0;
      width: 100%;
    }

    @include for-screen(tablet) {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 36px 8px 8px 8px;
    }
  }

  &__dummy-navbar {
    background-color: rgb(255, 255, 255);
    display: none;
    position: static;

    @include for-screen(tablet) {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 36px 8px 8px 8px;
    }
  }

  &__main {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }

  &__main-header-background {
    background-image: $main-header-background-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    height: $main-header-background-height;
    opacity: $main-header-background-opacity;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -3;
  }

  &__main-whole-background {
    background-image: $main-body-background-image;
    background-repeat: repeat;
    background-size: $main-body-background-size;
    height: 100%;
    opacity: $main-body-background-opacity;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: -5;
  }
}
