@import 'variables';

.navbar {
  position: relative;

  &__list {
    display: flex;
    flex-direction: row;
    padding: 0;

    @include for-screen(mobile) {
      margin: 5px 5px 5px 0;
    }

    @include for-screen(tablet) {
      flex-direction: column;
      margin: 0;
    }
  }

  &__item {
    list-style: none;

    @include for-screen(mobile) {
      margin: 5px 0 0 5px;
    }

    @include for-screen(tablet) {
      margin-bottom: $navbar-icon-gap;
    }

    &-icon {
      margin: 0;
      padding: $navbar-icon-padding;
      width: $navbar-icon-size;
    }

    &-label {
      font-size: $navbar-font-label;
    }

    &-button {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: $navbar-text;
      cursor: pointer;
      display: block;
      padding: $navbar-padding-item;
      text-decoration: none;

      &:hover {
        background-color: $navbar-bg-hover;
        border-radius: $navbar-border-radius;
      }
    }
  }

  &__separator {
    margin: 0;

    @include for-screen(mobile) {
      border-right: 1px solid $navbar-separator;
      margin-left: $navbar-icon-gap;
      margin-right: $navbar-icon-gap;
      padding-right: 5px;
    }

    @include for-screen(tablet) {
      border-bottom: 1px solid $navbar-separator;
      margin-bottom: $navbar-icon-gap;
      width: 100%;
    }
  }
}
