.popover-search {
  border: none;
  border-radius: 2%;
  box-shadow: 4px 3px 10px 0px rgba(0, 0, 0, 0.75);
  overflow-y: scroll;

  @include for-screen(mobile) {
    animation: slideCenter 0.5s ease forwards;
    left: 0;
    max-height: 70vh;
    width: 90%;
  }

  @include for-screen(tablet) {
    animation: slideRight 0.5s ease forwards;
    inset: auto;
    max-height: 90vh;
    top: 20px;
  }
}

.popover-navigation {
  border: none;
  border-radius: 2%;
  box-shadow: 4px 3px 10px 0px rgba(0, 0, 0, 0.75);

  @include for-screen(mobile) {
    animation: slideCenter 0.5s ease forwards;
    left: 0;
    top: 0;
    width: 90%;
  }

  @include for-screen(tablet) {
    animation: slideRight 0.5s ease forwards;
    inset: auto;
    top: 20px;
  }

  &__header {
    align-items: center;
    border-bottom: none;
    display: flex;
    margin: 0; // Overrides content header style
    padding: 1rem;

    &-icon {
      background: #999;
      height: 32px;
      margin-right: 1rem;
      width: 32px;
    }
  }

  &__separator {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0.1) 90%
    );
    content: '';
    float: left;
    height: 1.5px;
    width: 100%;
  }

  &__subtitle {
    margin: 0;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  &__main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {
    border-radius: 4px;
    color: #000;
    padding: 0.5rem;
    text-decoration: none;

    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }

  &__footer {
    border-top: none;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(
      calc(45px + #{$navbar-icon-size} + #{$navbar-popover-gap})
    );
  }
}

@keyframes slideCenter {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
