.small-tile {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

  &__item {
    align-items: center;
    background-color: rgb(159, 168, 168);
    background-position: center;
    background-size: 100%;
    border-radius: 6px;
    display: flex;
    padding: 0 1rem;
    position: relative;
    text-decoration: none; /* prevent underline */
    transition: background-size 0.5s ease;
  }
  &__item::before {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 20%,
      rgba(0, 0, 0, 0.2) 80%
    );
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
    transition: opacity 0.3s ease;
  }
  &__item:hover {
    background-size: 120%;
    &::before {
      opacity: 0;
    }
  }
  &__item span {
    color: white;
    z-index: 3;
  }
}
