.home-header {
  position: relative;
  text-align: center;
  width: 100%;

  &__subtitle {
    font-family: var(--home-header-subtitle-font-family);
    font-size: var(--home-header-subtitle-font-size);
    font-weight: var(--home-header-subtitle-font-weight);
    letter-spacing: var(--home-header-subtitle-letter-spacing);
    margin: 0 0 var(--home-header-circle-margin) 0;
    word-spacing: var(--home-header-subtitle-word-spacing);
  }

  &__title {
    font-family: var(--home-header-title-font-family);
    font-size: var(--home-header-title-font-size);
    font-weight: var(--home-header-title-font-weight);
    letter-spacing: var(--home-header-title-letter-spacing);
    margin: var(--home-header-circle-margin) 0 0 0;
    overflow-wrap: var(--home-header-title-overflow-wrap);
    white-space: var(--home-header-title-white-space);
    word-break: var(--home-header-title-word-break);
    word-spacing: var(--home-header-title-word-spacing);
  }

  &__circle {
    background-color: var(--home-header-circle-bg);
    background-image: var(--home-header-circle-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    content: '';
    height: var(--home-header-circle-size);
    inset: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: var(--home-header-circle-size);
    z-index: -1;

    @include for-screen(tablet) {
      opacity: var(--home-header-circle-opacity);
    }
    @include for-screen(mobile) {
      opacity: var(--home-header-circle-opacity-mobile);
    }
  }
}

.home__about-us {
  border-radius: 4px;

  p {
    margin: 0.5rem 0;
  }
}
