.layout {
  display: flex;
  flex-direction: column;

  @include for-screen(tablet) {
    flex-direction: row;
  }

  &__navbar {
    background-color: var(--layout-navbar-bg);
    border-right: 1px solid var(--layout-navbar-border);
    border-top: 1px solid var(--layout-navbar-border);
    box-shadow: var(--layout-navbar-shadow);
    overflow-y: auto;
    position: fixed;
    z-index: var(--layout-navbar-z);

    @include for-screen(mobile) {
      bottom: 0;
      width: 100%;
    }

    @include for-screen(tablet) {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: var(--layout-navbar-padding);
    }

    &::after {
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 99%,
        rgba(0, 0, 0, 0.25)
      );
      border-radius: inherit;
      inset: 0;
      pointer-events: none;
      position: absolute;
      z-index: 1;

      @include for-screen(tablet) {
        content: '';
      }
    }
  }

  &__dummy-navbar {
    background-color: var(--layout-dummy-navbar-bg);
    display: none;
    position: static;

    @include for-screen(tablet) {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: var(--layout-navbar-padding);
    }
  }

  &__main {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    margin-top: var(--layout-main-content-top-margin);

    @include for-screen(mobile) {
      padding: var(--layout-main-content-padding-mobile);
    }

    @include for-screen(tablet) {
      padding: var(--layout-main-content-padding);
    }
  }

  &__main-header-background {
    background-image: var(--layout-header-bg-image);
    background-position: center;
    background-repeat: var(--layout-header-bg-repeat);
    background-size: var(--layout-header-bg-size);
    height: var(--layout-header-bg-height);
    opacity: var(--layout-header-bg-opacity);
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: var(--layout-header-bg-z);

    &::before {
      background-image: var(--layout-header-bg-before-image);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: var(--layout-header-bg-height);
      opacity: var(--layout-header-before-opacity);
      overflow: hidden;
      position: absolute;
      width: 100%;
      z-index: var(--layout-header-bg-z);
    }

    &::after {
      background-image: var(--layout-header-bg-after-image);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: var(--layout-header-bg-height);
      opacity: var(--layout-header-after-opacity);
      overflow: hidden;
      position: absolute;
      width: 100%;
      z-index: var(--layout-header-bg-z);
    }
  }

  &__main-whole-background {
    background-image: var(--layout-body-bg-image);
    background-repeat: repeat;
    background-size: var(--layout-body-bg-size);
    height: 100%;
    opacity: var(--layout-body-bg-opacity);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: var(--layout-body-bg-z);

    &::after {
      background: linear-gradient(
        to bottom,
        white 0%,
        white 60%,
        rgba(255, 255, 255, 0) 100%
      );
      content: '';
      height: 70%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: calc(var(--layout-side-graphic-z) + 1);
    }
  }

  &__side-graphic {
    background-image: var(--layout-side-image);
    background-repeat: var(--layout-side-repeat);
    background-size: var(--layout-side-size);
    display: block;
    height: var(--layout-side-graphic-top-height);
    margin-left: calc(
      var(--layout-navbar-padding-top) + var(--navbar-icon-size)
    );

    margin-top: var(--layout-side-graphic-top-margin);
    min-height: var(--layout-side-graphic-min-height);
    opacity: var(--layout-side-opacity);
    position: absolute;
    width: var(--layout-side-width);
    z-index: var(--layout-side-graphic-z);

    @include for-screen(mobile) {
      display: none;
    }
  }
}
