@import 'variables';

/* ---------------------------
   RESET
   --------------------------- */
.pagefind-reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a,
  button {
    cursor: pointer;
  }
  img {
    display: block;
    max-width: 100%;
  }
  ol,
  ul,
  menu {
    list-style: none;
  }
  table {
    border-collapse: collapse;
  }
  input,
  textarea {
    user-select: auto;
  }
  textarea {
    white-space: revert;
  }
}

/* ---------------------------
   PAGEFIND LAYOUT
   --------------------------- */
.pagefind {
  color: var(--pagefind-color-text);
  font-family: var(--pagefind-font);
  width: 100%;

  /* Form wrapper */
  .form {
    position: relative;
  }

  /* Search input */
  .input {
    background: var(--pagefind-bg);
    border: var(--pagefind-border-width) solid var(--pagefind-border-color);
    border-radius: var(--pagefind-border-radius);
    font-size: calc(18px * var(--pagefind-scale));
    font-weight: 700;
    height: var(--pagefind-input-height);
    padding: 0 calc(50px * var(--pagefind-scale)) 0
      calc(40px * var(--pagefind-scale));
    position: sticky;
    top: 0;
    width: 80%;

    &::placeholder {
      opacity: 0.2;
    }
  }

  /* Clear button */
  .clear-btn {
    background: var(--pagefind-bg);
    border-radius: var(--pagefind-border-radius);
    color: var(--pagefind-color-text);
    cursor: pointer;
    font-size: calc(var(--pagefind-tag-font-size) * var(--pagefind-scale));
    height: var(--pagefind-input-height);
    padding: 0 calc(8px * var(--pagefind-scale));
    position: sticky;
    right: calc(3px * var(--pagefind-scale));
    top: calc(3px * var(--pagefind-scale));
    width: 18%;
    z-index: 10;
  }

  /* Results wrapper */
  .results {
    margin-top: calc(var(--pagefind-spacing-large) * var(--pagefind-scale));
    padding: 0;

    .item {
      align-items: flex-start;
      border-top: solid var(--pagefind-border-width)
        var(--pagefind-border-color);
      display: flex;
      padding: calc(var(--pagefind-spacing-large) * var(--pagefind-scale)) 0;

      &:last-of-type {
        border-bottom: solid var(--pagefind-border-width)
          var(--pagefind-border-color);
      }

      .thumb {
        aspect-ratio: var(--pagefind-image-ratio);
        margin-top: calc(
          var(--pagefind-spacing-medium) * var(--pagefind-scale)
        );
        max-width: calc(120px * var(--pagefind-scale));
        position: relative;
      }

      .image {
        border-radius: var(--pagefind-image-radius);
        display: block;
        height: auto;
        left: 50%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        transform: translateX(-50%);
        width: auto;
      }

      .content {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-top: calc(
          var(--pagefind-spacing-medium) * var(--pagefind-scale)
        );
      }

      .title {
        font-size: var(--pagefind-title-font-size);
        font-weight: 700;
        margin: 0;

        a {
          color: var(--pagefind-color-text);
          text-decoration: none;
        }
      }

      .excerpt {
        font-size: var(--pagefind-excerpt-font-size);
        font-weight: 400;
        margin-top: var(--pagefind-spacing-small);
        min-width: calc(250px * var(--pagefind-scale));
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: var(--pagefind-spacing-medium);
        margin-top: var(--pagefind-spacing-medium);

        .tag {
          background: var(--pagefind-tag-bg);
          border-radius: var(--pagefind-border-radius);
          font-size: var(--pagefind-tag-font-size);
          padding: var(--pagefind-spacing-small) var(--pagefind-spacing-medium);
        }
      }
    }
  }

  /* Nested results */
  .nested {
    display: flex;
    flex-direction: column;
    padding-left: var(--pagefind-spacing-large);

    &:first-of-type {
      padding-top: var(--pagefind-spacing-medium);
    }

    a {
      font-size: 0.9em;
      position: relative;

      &::before {
        content: '\2937 ';
        position: absolute;
        right: calc(100% + 0.1em);
        top: 0;
      }
    }
  }

  /* Loading state */
  .loading {
    background: var(--pagefind-color-text);
    border-radius: var(--pagefind-border-radius);
    opacity: 0.1;
    pointer-events: none;
  }

  /* Buttons */
  .btn {
    background: var(--pagefind-bg);
    border: var(--pagefind-border-width) solid var(--pagefind-border-color);
    border-radius: var(--pagefind-border-radius);
    color: var(--pagefind-color-primary);
    cursor: pointer;
    font-size: calc(16px * var(--pagefind-scale));
    font-weight: 700;
    height: var(--pagefind-button-height);
    margin-top: var(--pagefind-spacing-large);
    padding: 0 calc(var(--pagefind-spacing-medium) * var(--pagefind-scale));
    text-align: center;
    width: 100%;

    &:hover {
      border-color: var(--pagefind-color-primary);
      color: var(--pagefind-color-primary);
    }
  }

  /* Messages */
  .message {
    align-items: center;
    display: flex;
    font-size: calc(16px * var(--pagefind-scale));
    font-weight: 700;
    height: calc(24px * var(--pagefind-scale));
    margin-top: calc(8px * var(--pagefind-scale));
  }

  /* Utilities */
  .hidden {
    display: none !important;
  }
  .suppressed {
    opacity: 0;
    pointer-events: none;
  }
}
