<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <div class="layout">
      <div class="layout__dummy-navbar">
        {{ partial "dummy-navbar.html" }}
      </div>
      <aside class="layout__navbar">
        {{ partial "navbar.html" . }}
      </aside>
      <section class="layout__main-content">
        <main>
          {{ block "main" . }}{{ end }}
        </main>
        <footer>
          {{ partial "footer.html" . }}
        </footer>
      </section>
    </div>
  </body>
</html>
