{{ define "main" }}
  <span class="home-header">
    <div class="home-header__circle "></div>
    <h1 class="home-header__title">{{ site.Title }}</h1>
    <h3 class="home-header__subtitle">
      This site is my site, there are many like it, but this one is mine.
    </h3>
  </span>
  {{ partial "small-tile.html" . }}
  <h3>Featured</h3>
  {{ partial "big-tile.html" . }}
  <h3>About us</h3>
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
{{ end }}
