<article
  class="big-tile__item big-tile__item--event"
  style="background-image: url('{{ .page.Params.image }}')">
  <a href="{{ .page.RelPermalink }}" class="big-tile__link">
    <span class="big-tile__category">{{ .category }}</span>

    <div class="big-tile__overlay">
      <div class="big-tile__content">
        <h2 class="big-tile__title">{{ .page.Title }}</h2>
        <p class="big-tile__excerpt">
          {{- .page.Summary | plainify | truncate .truncate -}}
        </p>
        <div class="event-meta">
          <span class="event-date">📅 01 Jan 2025</span>
          <span class="event-time">⏰ 18:00</span>
        </div>
      </div>
    </div>
  </a>
</article>
